<div>
  <h1>Overlay Spinner Test Component</h1>
  <div>
    <app-test-spinner></app-test-spinner>
  </div>
  <div>
    <app-test-spinner></app-test-spinner>
  </div>
  <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius culpa veniam autem nam, earum error repudiandae quis corporis quasi in excepturi non quam animi? Autem, delectus. Ullam, at non sunt quibusdam voluptate ipsam perspiciatis minus, et perferendis fuga facere nostrum impedit quae, id in aut assumenda. Beatae est ipsam quam.</h4>
</div>
